@media screen and (max-width: 1149px) {
	.container {
		width: 960px;
	}
	.block1-image img {
		width: 450px;
	}
	.block1-image {
		right: 15px;
		bottom: 30px;
	}
	.block3-image-mob {
		display: block;
		width: 500px;
	}
	.block3-image {
		display: none;
	}
	.block3-content {
		margin-right: 0px;
	}
	.block3-block:nth-child(2n) .block3-content {
		margin-left: 0px;
	}
  	.white-image {
		height: auto;
		background-size: contain;
		margin-bottom: 50px;
	}	
	.faq-info img {
		width: 350px;
	}
	.faq {
		padding-right: 50px;
		padding-left: 50px;
	}
	.about-image img {
		width: 250px;
	}
	.info {
	    margin-bottom: 100px;
	    padding-top: 200px;
	}
	.info-item {
		margin-right: 20px;
		margin-bottom: 40px;
		margin-left: 20px;
	}
	.info-blocks {
		justify-content: center;
	}
	.sub {
	    margin-bottom: 50px;
	}
	.sub-image {
		width: 230px;
    	height: 450px;
	}
	.sub-content {
		padding-left: 0px;
	}
	.qoute .container {
		align-items: flex-end;
	}
	.qoute-image img {
		height: 100%;
	}
	.qoute-image {
		height: 400px;
	}
}
@media screen and (max-width: 959px) {
	.container {
		width: 768px;
	}
	.block1-content {
		width: 400px;
	}
	.block1-icon {
		height: auto;
		width: 300px;
	}
	.block1 {
		padding-top: 50px;
		margin-bottom: 100px;
	}
	.block1-icon {
		top: 0px;
	}
	.block3-image-mob {
		width: 400px;
	}
	.block3-block {
		margin-bottom: 80px;
	}
	.nabor-past {
		flex-direction: column;
		margin-bottom: 50px;
	}
	.white-image {
		margin-bottom: 60px;
	}
	.white-image, .order {
		width: auto;
	}
	.order-blocks {
		flex-direction: row;
	}
	.order-text {
		margin-bottom: 30px;
	}
	.pay-blocks img {
		margin-right: 20px;
		margin-left: 20px;
	}
	.faq-info img {
		width: 250px;
	}
	.faq-title {
		font-size: 30px;
		line-height: 40px;
	}
	.faq {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.sub-content {
		width: 400px;
	}
	.qoute-image {
	    height: 300px;
	}
	.about-image img {
		margin-right: 0;
		padding-top: 0;
	}
}
@media screen and (max-width: 767px) {
	.container {
		width: 480px !important;
	}
	nav {
		background-color: #333333;
		position: absolute;
		width: 100%;
		left: 0px;
		top: 80px;
		z-index: 10;
		padding-top: 20px;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #333;
		display: none;
	}
	nav a {
		width: 100%;
		margin-bottom: 20px;
		margin-left: 0px;
		font-size: 24px;
		text-align: center;
		display: block;
	}
	.block1 {
		padding-top: 0px;
	}
	.block1-content {
		width: 100%;
	}
	.block1-image {
		display: none;
	}
	.block1-icon {
		left: 10px;
	}
	.block1-image-mob {
		display: block;
		width: 100%;
		margin-bottom: 50px;
	}
	.block1-title {
		font-size: 30px;
		line-height: 40px;
	}
	.block3-block {	
	    flex-wrap: wrap;
	}
	.block3-title {
		font-size: 30px;
		line-height: 40px;
	}
	.block3-text {
		margin-bottom: 60px;
	}
	.block3-image-mob {
		width: 100%;
		margin-bottom: 20px;
	}
	.block3-image-mob-fix2 {
		display: none;
	}
	.block3-image-mob-fix {
		display: block;
		width: 100%;
		margin-bottom: 20px;
	}
	.white-title {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 30px;
	}
	.white-image, .order-text {
		margin-bottom: 30px;
	}
	.white-image img {
		width: 100%;
	}
	.pay-blocks img {
		margin-bottom: 20px;
	}
	.pay {
		padding-bottom: 80px;
	}
	.faq-info {
		justify-content: center;
	}
	.faq-info-content {
		width: 100%;
		margin-left: 0px;
		margin-bottom: 40px;
	}
	.faq {
		padding: 30px 20px 10px;
		margin-bottom: 80px;
	}
	.faq-title {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 25px;
	}
	.faq-item {
		width: 89%;
	}
	.faq-item-title {
		display: block;
	}
	.faq-item-content {
		margin-left: 0;
	}
	.about-block .container {
		flex-direction: column;
	}
	.about-title {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 40px;
	}
	.about-icon1, .about-icon2, .about-icon3, .about-icon4, .about-icon5, .about-icon6, .about-icon7, .about-icon8, .about-icon9,
	.sub-image div {
		display: none;
	}
	.about-content-title {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 20px;
	}
	.about-content {
		margin-bottom: 50px;
    	text-align: center;
	}	
	.about-content p {
		margin-bottom: 32px;
	}
	.about-btn-mob {
		display: flex;
		justify-content: center;
	}
	.info {
		margin-bottom: 60px;
		padding-top: 170px;
	}
	.info-title {
		font-size: 30px;
		line-height: 40px;
	}
	.info-text {
		margin-bottom: 30px;
	}
	.info-icon1, .info-icon2 {
		display: none;
	}
	.sub-title {
		font-size: 30px;
		line-height: 40px;
		text-align: center;
		margin-bottom: 50px;
	}
	.sub-text {
		margin-bottom: 40px;
	}
	.sub-content ol {
	    margin-bottom: 70px;
	}
	.qoute .container {
		flex-direction: column-reverse;
	}
	.qoute-content {
		width: 100%;
		margin-right: 0px;
	}
	.quote-title {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 40px;
	}
	.quote-block {
		height: auto;
		padding-bottom: 30px;
	}
	.qoute-image {
		margin: 0 auto;
	}
	header {
		padding-top: 20px;
		padding-bottom: 40px;
		z-index: auto;
	}
	footer {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.footer-blocks {
		justify-content: center;
		align-items: stretch;
		align-content: stretch;
		flex-wrap: wrap;
	}
	.footer-left, .footer-block {
		text-align: center;
		width: 100%;
	}
	.footer-left, .footer-block {
		margin-bottom: 20px;
	}
	.footer-block p {
		margin-bottom: 0px;
	}
	/*.mob-nav {
		display: block;
		cursor: pointer;
		z-index: 10;
	}
	.mob-nav div {
		width: 35px;
		height: 5px;
		background-color: #fff;
		margin: 6px 0;
	}*/
	.block3-content {
		width: 100%;
	}
	.sub {
		margin-bottom: 100px;
	}
	.sub .container {
		flex-direction: column;
	}
	.sub-content {
		display: flex;
	    flex-direction: column;
	    align-items: center;
		width: 100%;
		margin-bottom: 70px;
	}
	.sub-image {
	    width: 175px;
	    height: 350px;
	}
	.header-blocks {
		justify-content: center;
	}	
	.white-top {
		top: -6%;
	}
	.white-bottom {    
    	bottom: -6%;
    }
}
/*@media screen and (max-width: 479px) {
	.container {
	width: 320px;
	}
	.qoute-image {
	height: 220px;
	}
	.quote-block {
	padding-bottom: 250px;
	}
}*/