@charset "utf-8";
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
::-webkit-input-placeholder {color:#8a8a8a;}
::-moz-placeholder          {color:#8a8a8a;}
:-moz-placeholder           {color:#8a8a8a;}
:-ms-input-placeholder      {color:#8a8a8a;}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	color: #333333;
	background-color: #000;
	min-width: 480px;
}
a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
	color: #000000;
}
input, button, textarea {
	font-family: 'Roboto', sans-serif;
	outline: none;
}
div {
	outline: none;
}
.main {
	overflow: hidden;
}
.container {
	position: relative;
	width: 1150px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	z-index: 2;
}
header {
	padding-top: 50px;
	padding-bottom: 70px;
	z-index: 5;
	position: relative;
}
.logo img {
	width: 86px;
}
.header-blocks {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
nav a {
	color: #DAC9B5;
	margin-left: 60px;
}
nav a:hover {
	color: #F1A44D;
}
.block1 .container {
	position: relative;
}
.block1 {
	margin-bottom: 220px;
	padding-top: 115px;
}
.block1-icon {
	height: 314px;
	width: 416px;
	position: absolute;
	left: 70px;
	top: -115px;
	z-index: 2;
}
.block1-icon img {
	height: 100%;
	width: 100%;
}
.block1-bg {
	background-image: url(../img/block1-bg.png);
	height: 609px;
	width: 1222px;
	position: absolute;
	left: 0px;
	top: -245px;
}
.block1-content {
	text-align: center;
	width: 548px;
	position: relative;
	z-index: 5;
}
.block1-title {
	font-size: 44px;
	line-height: 52px;
	font-weight: bold;
	color: #FFF;
	margin-bottom: 32px;
}
.block1-text {
	font-size: 17px;
	line-height: 20px;
	font-weight: 500;
	color: #F1A44D;
	margin-bottom: 60px;
}
.block1-btn {
	height: 56px;
	width: 240px;
	border: 1px solid #F1A44D;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	color: #F1A44D;
}
.block1-btn:hover {
	color: #030303;
	background-color: #F1A44D;
	border-top-color: #F1A44D;
	border-right-color: #F1A44D;
	border-bottom-color: #F1A44D;
	border-left-color: #F1A44D;
}
.cnt {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.block1-image {
	position: absolute;
	right: 0px;
	bottom: -50px;
	z-index: 2;
}
.block1-image span {
	position: absolute;
	left: -50px;
	background-image: url(../img/block1-mini.png);
	height: 118px;
	width: 118px;
	bottom: 0px;
}
.block2 {
	margin-bottom: 100px;
	background-image: url(../img/block2-image.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 530px;
}
.block2 .container {
	position: relative;
}
.block2-bg {
	background-image: url(../img/block2-bg.png);
	height: 660px;
	width: 1220px;
	position: absolute;
	left: -300px;
	top: 126px;
}
.block3-title {
	font-size: 44px;
	line-height: 52px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	margin-bottom: 12px;
}
.block3-text {
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	color: #F1A44D;
	text-align: center;
	margin-bottom: 120px;
}
.block3-block {
	z-index: 2;
	margin-bottom: 120px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.block3-content {
	margin-right: 100px;
	text-align: center;
	width: 365px;
}
.block3-content img {
	margin-bottom: 25px;
}
.block3-item-title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	color: #F1A44D;
	margin-bottom: 25px;
}
.block3-content p {
	font-size: 17px;
	line-height: 24px;
	color: #DAC9B5;
	margin-bottom: 56px;
}
.block3-block:nth-child(2n) .block3-content {
	margin-right: 0px;
	margin-left: 100px;
}
.block3-block:nth-child(2n) .block3-image {
	margin-right: 45px;
	margin-left: 0px;
}
.white-block {
	z-index: 2;
	background-color: #F6F6F6;
	position: relative;
	padding-top: 160px;
}
.white-top {
	background-image: url(../img/white-top-fix.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 98px;
	width: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
}
.white-title {
	font-size: 44px;
	line-height: 52px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 56px;
}
.order {
	text-align: center;
}
.order-title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	margin-bottom: 12px;
}
.order-text {
	line-height: 24px;
	margin-bottom: 50px;
}
.order-blocks {
	margin-bottom: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.order-item {
	height: 88px;
	width: 256px;
	background: #FFFFFF;
	box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-right: 10px;
	margin-left: 10px;
}
.order-item-2 {
	height: 88px;
	width: 256px;
	background: #FFFFFF;
	box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-right: 10px;
	margin-left: 10px;
}
.order-item:hover {
	transform: scale(1.1);
}
.order-item-2:hover {
	transform: scale(1.1);
}
.pay {
	text-align: center;
	padding-bottom: 120px;
}
.pay .order-text {
	margin-bottom: 30px;
}
.pay-blocks {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.pay-blocks img {
	margin: 20px;
}
.faq-info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.faq-info-content {
	text-align: center;
	width: 350px;
	position: relative;
	margin-left: 90px;
	font-size: 24px;
	line-height: 28px;
	color: #E28C28;
	font-weight: 500;
}
.faq-quote-left {
	background-image: url(../img/faq-quote-left.png);
	height: 53px;
	width: 65px;
	left: -35px;
	top: -70px;
	position: absolute;
}
.faq-quote-left2 {
	background-image: url(../img/faq-quote-left2.png);
	height: 18px;
	width: 22px;
	left: -12px;
	top: -24px;
	position: absolute;
}
.faq-quote-right {
	background-image: url(../img/faq-quote-right.png);
	height: 53px;
	width: 65px;
	right: -35px;
	bottom: -70px;
	position: absolute;
}
.faq-quote-right2 {
	background-image: url(../img/faq-quote-right2.png);
	height: 18px;
	width: 22px;
	right: -12px;
	bottom: -24px;
	position: absolute;
}
.faq {
	background: #FFFFFF;
	box-shadow: 2px 8px 24px rgba(0, 0, 0, 0.18);
	border-radius: 12px;
	margin-bottom: 120px;
	padding-top: 70px;
	padding-right: 190px;
	padding-bottom: 70px;
	padding-left: 190px;
}
.faq-title {
	font-size: 33px;
	line-height: 52px;
	font-weight: bold;
	margin-bottom: 50px;
	text-align: center;
}
.faq-items {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #d8d8d8;
}
.faq-title {
	font-size: 44px;
	line-height: 52px;
	font-weight: bold;
	text-align: center;
}
.faq-item-title {
	font-weight: 500;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 25px;
	position: relative;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d8d8d8;
	cursor: pointer;
}
.faq-item-title:hover {
	color: #E28C28;
}
.faq-item-title span {
	background-image: url(../img/faq-open.svg);
	display: block;
	height: 32px;
	width: 32px;
	margin-top: -16px;
	position: absolute;
	top: 50%;
	right: 25px;
}
.faq-item-content {
	line-height: 24px;
	padding-top: 25px;
	padding-right: 40px;
	padding-bottom: 25px;
	padding-left: 40px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d8d8d8;
	display: none;
}
.faq-item-title.active {
	background-color: #EDEDED;
}
.faq-item-title.active span {
	background-image: url(../img/faq-close.svg);	
}
.faq-item-content.active {
	display: block;
}
.about-title {
	font-size: 44px;
	line-height: 52px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 56px;
}
.about {
	position: relative;
}
.about-icon1 {
	background-image: url(../img/about-icon1.png);
	height: 325px;
	width: 151px;
	position: absolute;
	left: 0px;
	top: 30px;
}
.about-icon6 {
	background-image: url(../img/about-icon6.png);
	height: 358px;
	width: 127px;
	position: absolute;
	top: 30px;
	right: 0px;
}
.about-block .container {
	position: relative;
}
.about-icon2 {
	background-image: url(../img/about-icon2.png);
	height: 245px;
	width: 223px;
	position: absolute;
	left: 0px;
	bottom: -120px;
	z-index: 2;
}
.about-icon4 {
	background-image: url(../img/about-icon4.png);
	height: 113px;
	width: 125px;
	position: absolute;
	top: 0px;
	right: -30px;
}
.about-icon5 {
	background-image: url(../img/about-icon5.png);
	height: 121px;
	width: 161px;
	position: absolute;
	right: -30px;
	bottom: 60px;
}
.about-block-content {
	height: 568px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
}
.about-content {
	width: 425px;
}
.about-content-title {
	font-size: 44px;
	line-height: 52px;
	font-weight: bold;
	margin-bottom: 24px;
}
.about-content p {
	font-size: 17px;
	line-height: 24px;
	margin-bottom: 32px;
}
.about-btn {
	color: #333333;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
}
.about-btn:hover {
	color: #FFF;
	background-color: #333333;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
}
.info {
	padding-top: 120px;
	margin-bottom: 184px;
	position: relative;
}
.info .container {
	position: relative;
}
.info-title {
	font-size: 44px;
	line-height: 52px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	margin-bottom: 8px;
}
.info-text {
	font-size: 17px;
	line-height: 24px;
	color: #FFF;
	text-align: center;
	margin-bottom: 30px;
}
.info-blocks {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.info-item {
	width: 265px;
}
.info-icon1 {
	background-image: url(../img/info-icon1.png);
	height: 194px;
	width: 148px;
	left: 0px;
	position: absolute;
	bottom: -100px;
	z-index: 2;
}
.info-icon2 {
	background-image: url(../img/info-icon2.png);
	height: 63px;
	width: 71px;
	position: absolute;
	bottom: -70px;
	right: 60px;
}
.sub {
	margin-bottom: 120px;
}
.sub .container {
	position: relative;
}
.sub-block {
	height: 617px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
.sub-image {
	position: absolute;
	top: 100px;
	right: -65px;
	background-image: url(../img/sub/image1.png);
	height: 513px;
	width: 695px;
}
.sub-content {
	text-align: center;
	width: 540px;
	padding-left: 95px;
}
.sub-title {
	font-size: 44px;
	line-height: 52px;
	font-weight: bold;
	color: #FFF;
	margin-bottom: 32px;
}
.sub-text {
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	color: #F1A44D;
	margin-bottom: 60px;
}
.sub-text2 {
	line-height: 24px;
	color: #DAC9B5;
	margin-bottom: 50px;
}
.white-image {
	text-align: center;
	margin-bottom: 56px;
}
.about-image {
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.white-bottom {
	background-image: url(../img/white-bottom.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 98px;
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: -40px;
}
.quote-block {
	height: 467px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
}
.qoute .container {
	position: relative;
}
.qoute-image {
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 467px;
}
.qoute-content {
	width: 371px;
	margin-right: 60px;
	text-align: center;
}
.quote-title {
	font-size: 44px;
	line-height: 52px;
	font-weight: bold;
	color: #FFF;
	margin-bottom: 54px;
}
.quote-text {
	position: relative;
	font-size: 17px;
	line-height: 24px;
	font-weight: 500;
	color: #F1A44D;
	margin-bottom: 24px;
}
.quote-text2 {
	font-size: 17px;
	line-height: 24px;
	color: #DAC9B5;
	text-align: right;
	margin-right: 20px;
}
.quote-quote-left {
	background-image: url(../img/quote-quote-left.png);
	height: 34px;
	width: 42px;
	left: -35px;
	top: -50px;
	position: absolute;
}
.quote-quote-left2 {
	background-image: url(../img/quote-quote-left2.png);
	height: 12px;
	width: 16px;
	left: -16px;
	top: -24px;
	position: absolute;
}
.quote-quote-right {
	background-image: url(../img/quote-quote-right.png);
	height: 34px;
	width: 42px;
	right: -35px;
	bottom: -50px;
	position: absolute;
}
.quote-quote-right2 {
	background-image: url(../img/quote-quote-right2.png);
	height: 12px;
	width: 16px;
	right: -12px;
	bottom: -24px;
	position: absolute;
}
footer {
	background-color: #FFF;
	padding-top: 45px;
	padding-bottom: 45px;
}
.footer-blocks {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;
	align-content: flex-end;
}
.footer-logo {
	width: 86px;
	margin-bottom: 16px;
}
.footer-left-text {
	font-size: 12px;
	line-height: 16px;
}
.footer-block p {
	font-size: 17px;
	line-height: 24px;
	margin-bottom: 16px;
}
.footer-block a {
	font-size: 17px;
	line-height: 24px;
	color: #34AAF2;
	text-decoration: none;
}
.footer-block a:hover {
	text-decoration: underline;
}
.info-item-top {
	background-color: #063099;
	height: 116px;
	padding-top: 32px;
	padding-left: 25px;
	border-radius: 12px 12px 0px 0px;
	color: #FFF;
}
.info-item-text1 {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 8px;
}
.info-item-text2 {
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 8px;
	font-weight: 500;
}
.info-item-bottom {
	background-color: #FFF;
	height: 192px;
	padding-top: 24px;
	padding-right: 24px;
	padding-left: 24px;
	position: relative;
	font-size: 17px;
	line-height: 24px;
	color: #181412;
	border-radius: 0px 0px 12px 12px;
}
.item-info-image {
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 25px;
	text-align: center;
}
.info-item-top2 {
	background-color: #3499D9;
}
.info-item-top3 {
	background-color: #FFE777;
	color: #181412;
}
.info-item-top4 {
	background-color: #EC5E5D;
}
.block3-image {
	height: 560px;
	width: 560px;
	position: relative;
	margin-left: 45px;
}
.block3-image-bg {
	background-image: url(../img/block3_1/bg.png);
	height: 560px;
	width: 560px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.block3-image-image1 {
	background-image: url(../img/block3_1/image1.png);
	height: 422px;
	width: 346px;
	position: absolute;
	left: 117px;
	top: 40px;
}
.block3-image-image2 {
	background-image: url(../img/block3_1/image2.png);
	height: 233px;
	width: 506px;
	position: absolute;
	left: 4px;
	bottom: 0px;
}
.block3-image-icon1 {
	background-image: url(../img/block3_1/icon1.png);
	height: 42px;
	width: 49px;
	position: absolute;
	left: 120px;
	top: 184px;
}
.block3-image-icon2 {
	background-image: url(../img/block3_1/icon2.png);
	height: 89px;
	width: 85px;
	position: absolute;
	left: 103px;
	top: 282px;
}
.block3-image-icon4 {
	background-image: url(../img/block3_1/icon4.png);
	height: 54px;
	width: 57px;
	position: absolute;
	top: 303px;
	right: 176px;
}
.block3-image-icon5 {
	background-image: url(../img/block3_1/icon5.png);
	height: 144px;
	width: 137px;
	position: absolute;
	top: 331px;
	right: 126px;
}
.block3-image-image-fix {
	background-image: url(../img/block3_1/fix1.png);
	height: 516px;
	width: 506px;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.sub-icon1 {
	background-image: url(../img/sub/icon1.png);
	height: 31px;
	width: 33px;
	position: absolute;
	top: -97px;
	left: 280px;
}
.sub-icon2 {
	background-image: url(../img/sub/icon2.png);
	height: 34px;
	width: 34px;
	position: absolute;
	top: -48px;
	left: 250px;
}
.sub-icon3 {
	background-image: url(../img/sub/icon3.png);
	height: 40px;
	width: 42px;
	position: absolute;
	top: 15px;
	right: 209px;
}
.sub-icon4 {
	background-image: url(../img/sub/icon4.png);
	height: 70px;
	width: 70px;
	position: absolute;
	top: 141px;
	left: 197px;
}
.sub-icon5 {
	background-image: url(../img/sub/icon5.png);
	height: 119px;
	width: 119px;
	position: absolute;
	top: 117px;
	right: 174px;
}
.sub-icon6 {
	background-image: url(../img/sub/icon6.png);
	height: 35px;
	width: 36px;
	position: absolute;
	top: 228px;
	left: 188px;
}
.block3_2-image-bg {
	background-image: url(../img/block3_2/bg.png);
	height: 560px;
	width: 560px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.block3_2-image1 {
	background-image: url(../img/block3_2/image1.png);
	height: 535px;
	width: 534px;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.block3_2-image-icon1 {
	background-image: url(../img/block3_2/icon1.png);
	height: 115px;
	width: 111px;
	position: absolute;
	left: 61px;
	bottom: 94px;
}
.block3_2-image-icon2 {
	background-image: url(../img/block3_2/icon2.png);
	height: 206px;
	width: 182px;
	position: absolute;
	left: 64px;
	bottom: 0px;
}
.block3_2-image-icon3 {
	background-image: url(../img/block3_2/icon3.png);
	height: 103px;
	width: 110px;
	position: absolute;
	left: 51px;
	bottom: 47px;
}
.block3_2-image-icon4 {
	background-image: url(../img/block3_2/icon4.png);
	height: 107px;
	width: 91px;
	position: absolute;
	bottom: 97px;
	right: 5px;
}
.block3_2-image-icon5 {
	background-image: url(../img/block3_2/icon5.png);
	height: 63px;
	width: 70px;
	position: absolute;
	right: 40px;
	top: 221px;
}
.block3_3-image-bg {
	background-image: url(../img/block3_3/bg.png);
	height: 560px;
	width: 560px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.block3_3-image1 {
	background-image: url(../img/block3_3/image1.png);
	height: 557px;
	width: 472px;
	position: absolute;
	left: 44px;
	bottom: 0px;
}
.block3_3-image-icon1 {
	background-image: url(../img/block3_3/icon1.png);
	height: 238px;
	width: 136px;
	position: absolute;
	left: 71px;
	top: 92px;
}
.block3_3-image-icon2 {
	background-image: url(../img/block3_3/icon2.png);
	height: 129px;
	width: 153px;
	position: absolute;
	right: 55px;
	top: 272px;
}
.block3_3-image-icon3 {
	background-image: url(../img/block3_3/icon3.png);
	height: 12px;
	width: 16px;
	position: absolute;
	left: 106px;
	bottom: 194px;
}
.block3_3-image-icon4 {
	background-image: url(../img/block3_3/icon4.png);
	height: 35px;
	width: 48px;
	position: absolute;
	left: 60px;
	bottom: 48px;
}
.block3-image-mob {
	display: none;
}
.sub-block img {
	display: none;
}
.block1-image-mob {
	display: none;
}
.block3-image-mob-fix {
	display: none;
}
.mob-nav {
	display: none;
}